<footer class="footer text-white">
    <div class="row">
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sunt voluptates at soluta eaque. Porro doloribus totam impedit similique sed fuga reprehenderit ad ducimus nisi provident necessitatibus ex ab libero natus.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sunt voluptates at soluta eaque. Porro doloribus totam impedit similique sed fuga reprehenderit ad ducimus nisi provident necessitatibus ex ab libero natus.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sunt voluptates at soluta eaque. Porro doloribus totam impedit similique sed fuga reprehenderit ad ducimus nisi provident necessitatibus ex ab libero natus.
            </p>
        </div>
    </div>
</footer>